__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.vscode/
.idea/

.env
.venv/
venv/
env/
.conda/

local_training_runs/
outputs*/
result/
*.mp4
*.webm
*.avi
*.mov

_deps/
unitree_mujoco/
cyclonedds*/

*.zip
*.tar
*.tar.gz
*.tgz
*.7z

core
*.log
